body {
    margin: auto;
}

.chat {
    position: fixed;
    height: 10vh;
    width: 20vw;
    border-radius: 50%;
    border: 1px solid black;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
    background-color: #FFF35F;
}

.inicial-arriba {
    background-color: #FEB4CD;
    height: 50vh;
    border-bottom: 1px solid black;
}

.inicial-abajo {
    background-color: #FFF35F;
    height: 100vh;
}

header button img {
    height: 3.3vh;
    position: absolute;

}

.menu {
    background-color: #FEB4CD;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 7vh;
    width: 14vw;
    border: 2px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 55%;
    right: 3vw;
    top: 2vh;
}


.fondo-blanco {
    background-color: white;
    height: 70vh;
}

.fondo-naranja {
    background-color:#FF6541;
    height: 30vh;
}

header .menu img:hover {
    transition: height 0.05s ease;
    height: 3.8vh; 
} 
